:root {
    --red: hsl(4, 100%, 67%);
    --red-light: hsl(4, 100%, 90%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 16px;
    height: 100%
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight: 400 700;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-weight: 400 700;
}

body {
}

h1, h2 {
    font-size: clamp(2rem, 1.9rem + 1vw, 2.9rem);
    font-family: "Roboto-Bold", sans-serif;
}

.main-container {
    font-family: "Roboto-Regular", sans-serif;
    color: var(--blue-800);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: left;
    color: var(--blue-800);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-size: clamp(1rem, 0.9rem + 0.8vw, 1.2rem);
}

.subscribe-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1.5rem;
    gap: 2rem;
}

.background-container {
    width: 100%;
    height: 30%;
    background-image: url("./assets/images/illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.info-container {
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
    justify-content: space-between;
}

.list{
    list-style: none;
}

.list-item {
    display: flex;
    align-items: flex-start;
    padding: .5rem;
}

.list-item::before {
  content: url("./assets/images/icon-list.svg");
  margin-right: 1rem;
}

.label {
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 0.5rem;
}

.input-cotainer{
    width:100%;
}

.label-and-error{
    display: flex;
    justify-content: space-between;
}

.email {
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    padding-left: 1rem; 
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1rem;
}

.error{
    border: 0.2rem solid var(--red);
    color: var(--red);
    background-color: var(--red-light);
}

.error:focus{
    border: 0;
}

.error-message{
    color: var(--red);
}

.btn {
    height: 4rem;
    border: 0;
    border-radius: 0.5rem;
    width: 100%;
    background-color: var(--blue-700);
    color: var(--white);
    font-family: "Roboto-Bold", sans-serif;
    transition: all 0.3s ease-out;
}

.btn:hover{
    background-image: linear-gradient(to right, var(--red), var(--red-light));
    box-shadow: var(--red) 0.4rem 0.4rem 1rem;
}

.btn:active, .btn:focus{
    border: 0;
}

.confirm-container{
    height: 100%;
    background-color: var(--white);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 10rem 3rem 3rem 3rem;
    justify-content: space-between;
}

.confirm-message{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.icon-success{
    max-inline-size: 4rem;
}

/*screen resize style*/
@media screen and (width >= 40rem) {
    .background-container{
        background-image: url("./assets/images/illustration-sign-up-tablet.svg");
    }
}
@media screen and (width >= 52rem) {
    .main-container{
        align-items: center;
        background-color: var(--blue-800);
    }
    
    .subscribe-form {
        width: clamp(50rem, 49rem + 2vw, 80rem);
        height: 70%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    .info-container{
        width: 50%;
        height: 100%;
        justify-content: space-between;
        padding: 0;
    }
     
    .background-container{
        width: 50%;
        height: 100%;
        background-image: url("./assets/images/illustration-sign-up-desktop.svg");
        background-position: center center;
    }
    .confirm-message{
        gap: 0.5rem;
    }
    .confirm-container{
        height: auto;
        padding: 2rem;
        width: clamp(50rem, 49rem + 2vw, 60rem);
        gap: 2rem;
    }
}