:root {
    --red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 16px;
    height: 100%
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight: 400 700;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-weight: 400 700;
}

body {
}

h1, h2 {
    font-size: clamp(2rem, 1.9rem + 1vw, 2.9rem);
    font-family: "Roboto-Bold", sans-serif;
}

.main-container {
    font-family: "Roboto-Regular", sans-serif;
    color: var(--blue-800);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: left;
    color: var(--blue-800);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-size: clamp(1rem, 0.9rem + 0.8vw, 1.2rem);
}

.subscribe-container {
    width: 100%;
    height: 100%;
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1.5rem;
    gap: 2rem;
}

.background-container {
    width: 100%;
    height: 30%;
    background-image: url("./assets/images/illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list{
    list-style: none;
}

.list-item {
    display: flex;
    align-items: flex-start;
    padding: .5rem;
}

.list-item::before {
  content: url("./assets/images/icon-list.svg");
  margin-right: 1rem;
}

.label {
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 0.5rem;
}

.input.email {
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    padding-left: 1rem; 
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1rem;
}

.submit-btn {
    height: 4rem;
    border: 0;
    border-radius: 0.5rem;
    width: 100%;
    background-color: var(--blue-700);
    color: var(--white);
    font-family: "Roboto-Bold", sans-serif;
}

/*screen resize style*/
@media screen and (width >= 40rem) {
    .background-container{
        background-image: url("./assets/images/illustration-sign-up-tablet.svg");
    }
}
@media screen and (width >= 52rem) {
    .main-container{
        align-items: center;
        background-color: var(--blue-800);
    }
    
    .subscribe-container {
        width: clamp(50rem, 49rem + 2vw, 80rem);
        height: 70%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .info-container{
        width: 40%;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
    }
     
    .background-container{
        width: 50%;
        height: 100%;
        background-image: url("./assets/images/illustration-sign-up-desktop.svg");
        background-position: center center;
    }
}