:root {
    --red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight: 400 700;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-weight: 400 700;
}

body {
    font-family: "Roboto-Regular", sans-serif;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    text-align: center;
    color: var(--blue-800);
}

h1 {
    font-size: 2rem;
    font-family: "Roboto-Bold", sans-serif;
}

.main-container {
    /*max-width: clamp(15rem, 80%, 40rem);*/
    min-height: 100vh;
    min-width: 100vw;
    margin: 0 auto;
    text-align: center;
    background-color: var(--white);
    color: var(--blue-800);
}
.subscribe-container {
    min-width: 100vw;
    background-color: var(--grey);
}
.sign-up-img{
    max-inline-size: 100%;
    block-size: auto;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
